[submodule "CellViT-plus-plus"]
	path = cellvit_plus_plus/CellViT-plus-plus
	url = https://github.com/TIO-IKIM/CellViT-plus-plus.git
[submodule "nnunet/nnUNet"]
	path = nnunet/nnUNet
	url = https://github.com/MIC-DKFZ/nnUNet.git
[submodule "hover_net"]
	path = hovernet/hover_net
	url = https://github.com/AlixANNERAUD/hover_net.git
